#!/bin/bash

rdev={{ VXLAN_DEV }}
iplist="{% for host in play_hosts %}{{ hostvars[host]["ansible_" + VXLAN_DEV]['ipv4']['address'] }} {% endfor %}"

interface=$1
status=$2
myip=`ip addr show $rdev | grep 'inet ' | awk -F '[/ ]' '{print $6}'`

if [[ $interface =~ vxlan* ]] && [[ $status == "up" ]]; then
	bridge fdb del 00:00:00:00:00:00 dev $interface dst 127.0.0.1
	for ip in $iplist;
	do
		if [ "$ip" != "$myip" ]; then
			bridge fdb append 00:00:00:00:00:00 dev $interface dst $ip
		fi
	done
fi





