{% for host in play_hosts %}
{% if inventory_hostname != host %}
{% if VXLAN_NODENAME is defined %}
{{ hostvars[host]['VXLAN_NODENAME'] }} 
{% else %}
{{ hostvars[host]["ansible_" + VXLAN_DEV]['ipv4']['address'] }} 
{% endif %}
{% endif %}
{% endfor %}


