#!/bin/bash
source ~/.bash_profile

sqlplus "sys/{{ SYSPASSWORD }}@scan:1521/{{ DBNAME }} as sysdba" <<EOF
--whenever sqlerror exit 5
--whenever oserror exit 9


--ALTER PLUGGABLE DATABASE {{ PDBNAME }} OPEN;
alter session set container={{ PDBNAME }};
--CREATE TABLESPACE USERS DATAFILE '+{{ DATA_DISKGROUP_NAME }}';

DROP USER {{ TPCCUSER }} cascade;
CREATE USER {{ TPCCUSER }}  IDENTIFIED BY "{{ TPCC_PASSWORD }}"
DEFAULT TABLESPACE USERS
QUOTA UNLIMITED ON USERS
TEMPORARY TABLESPACE TEMP;
GRANT connect, resource TO {{ TPCCUSER }} ;
exit
EOF
