[Unit]
Description=sethostname
Requires=network.target
After=network.target
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/sethostname.init start
User=root
Group=root

[Install]
WantedBy=multi-user.target
