[Unit]
Description=vxlan auto start
Requires=network.target
After=network.target sethost.service
Before=remote-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/vxlan.init start
ExecStop=/usr/local/bin/vxlan.init stop
KillMode=process
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
