#!/bin/bash
set_resolvconf()
{
  echo "search {{ DOMAIN_NAME }}" > /etc/resolv.conf
  echo "nameserver 127.0.0.1" >> /etc/resolv.conf
  echo "127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4" > /etc/hosts
  echo "::1         localhost localhost.localdomain localhost6 localhost6.localdomain6" >> /etc/hosts
}

case "$1" in
  vxlan0)
    shift;set_resolvconf $*;
esac