#
{{ SCAN_NAME }}.{{ DOMAIN_NAME }} {{ scan0_IP }} 
{{ SCAN_NAME }}.{{ DOMAIN_NAME }} {{ scan1_IP }} 
{{ SCAN_NAME }}.{{ DOMAIN_NAME }} {{ scan2_IP }} 
{% for host in groups['dbserver'] %}
{{ NODENAME }}.{{ DOMAIN_NAME }} {{ public_IP }} 
{{ NODENAME }}-vip.{{ DOMAIN_NAME }} {{ vip_IP }} 
{% endfor %}
