KERNEL=="sd?", SUBSYSTEM=="block", PROGRAM=="/usr/lib/udev/scsi_id -g -u -d /dev/$parent", RESULT=="{{ scsi_id_result.results.0.stdout }}", SYMLINK+="asm-vote", OWNER="grid", GROUP="asmadmin", MODE="0660"
KERNEL=="sd?", SUBSYSTEM=="block", PROGRAM=="/usr/lib/udev/scsi_id -g -u -d /dev/$parent", RESULT=="{{ scsi_id_result.results.1.stdout }}", SYMLINK+="asm-data", OWNER="grid", GROUP="asmadmin", MODE="0660"
KERNEL=="sd?", SUBSYSTEM=="block", PROGRAM=="/usr/lib/udev/scsi_id -g -u -d /dev/$parent", RESULT=="{{ scsi_id_result.results.2.stdout }}", SYMLINK+="asm-fra", OWNER="grid", GROUP="asmadmin", MODE="0660"