[Unit]
Description=setresolvconf auto start
Requires=network.target
After=network.target
Before=remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/setresolvconf.init start
ExecReload=/usr/local/bin/setresolvconf.init reload
ExecStop=/usr/local/bin/setresolvconf.init stop
User=root
Group=root

[Install]
WantedBy=multi-user.target
