[Unit]
Description=sethost auto start
Requires=network.target
After=rac-nbd-server.service
Before=remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rac-nbd-client.init start
User=root
Group=root

[Install]
WantedBy=multi-user.target
