[Unit]
Description=sethost auto start
Requires=network.target
After=network.target
Before=remote-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/sethost.init start
ExecReload=/usr/local/bin/sethost.init reload
User=root
Group=root

[Install]
WantedBy=multi-user.target
