---
  - name: "crete media directory"
    become: yes
    file:
      path: "{{ MEDIA_PATH }}"
      state: directory
      mode: 0755
      group: oinstall
      owner: grid
    when: inventory_hostname == groups["dbserver"][0]
    tags:
      - creategridrsp
      - download
      - downloadgrid

  - name: "copy grid media"
    become: yes
    become_user: grid
    unarchive:
      src: "/media/{{ GRID_MEDIA }}"
      dest: "{{ GRID_ORACLE_HOME }}"
      creates: "{{ GRID_ORACLE_HOME }}/bin"
    when: inventory_hostname == groups["dbserver"][0]
    tags:
      - creategridrsp
      - download
      - downloadgrid
      
  - name: "copy grid patch"
    become: yes
    become_user: grid
    unarchive:
      src: "/media/{{ GRID_PATCH }}"
      dest: "{{ MEDIA_PATH }}"
      creates: "{{ MEDIA_PATH }}/{{ GRID_PATCH_NUM }}"
    when: inventory_hostname == groups["dbserver"][0]
    tags:
      - creategridrsp
      - download
      - downloadgrid
      
  - name: "create grid.rsp"
    become: yes
    template:
      src: "grid.rsp.j2"
      dest: "/home/grid/grid.rsp"
      owner: grid
      group: oinstall
      mode: 0644
    when: inventory_hostname == groups["dbserver"][0]
    tags:
      - creategridrsp

  - name: "runInstaller(grid)"
    become: yes
    become_user: grid
    shell: "{{ GRID_ORACLE_HOME }}/gridSetup.sh -silent -applyRU {{ MEDIA_PATH }}/{{ GRID_PATCH_NUM }} -responseFile /home/grid/grid.rsp -waitforcompletion {{ INSTALL_OPS }}"
    when: inventory_hostname == groups["dbserver"][0]
    register: runinstallergrid_result
    ignore_errors: True
    tags:
      - runinstallergrid

  - debug: var=runinstallergrid_result.stdout_lines
    when: inventory_hostname == groups["dbserver"][0]
    failed_when: runinstallergrid_result.rc !=0 and runinstallergrid_result.rc != 250 and runinstallergrid_result.rc != 6
    tags:
      - runinstallergrid

  - name: "orainstrootsh"
    become: yes
    shell: "{{ ORAINVENTORY }}/orainstRoot.sh -silent"
    register: orainstrootsh_result
    tags:
      - orainstrootsh

  - debug: var=orainstrootsh_result.stdout_lines
    tags:
      - orainstrootsh

#  - name: "grid root.sh"
#    become: yes
#    shell: "{{ GRID_ORACLE_HOME }}/root.sh -silent"
#    when: inventory_hostname == groups["dbserver"][0]
#    delegate_to: "{{ hostvars[ item.1 ]['ansible_eth0']['ipv4']['address'] }}"
#    with_indexed_items: "{{ groups['dbserver'] }}"
#    register: gridrootsh_result
#    async: "{{ ASYNC }}"
#    poll: "{{ POLL }}"
#    tags:
#      - gridrootsh
#      - gridinstall
#
#  - debug: var=gridrootsh_result.stdout_lines
#    tags:
#      - gridrootsh
#      - gridinstall

  - name: "Update relink_rac_on(dnfs_off)"
    become: yes
    replace:
      dest: "{{ GRID_ORACLE_HOME }}/crs/config/relink_rac_on"
      regexp: "dnfs_on"
      replace: "dnfs_on 	dnfs_off"
    when: DNFS is defined and DNFS == 'disable'
    tags:
      - disablednfs
      - gridrootsh

#  - name: "install strace packages"
#    become: yes
#    yum: name=strace state=present
#    tags:
#      - gridrootsh

  - name: "grid 1st root.sh"
    become: yes
    shell: "{{ GRID_ORACLE_HOME }}/root.sh -silent"
    register: grid1strootsh_result
    when: inventory_hostname == groups["dbserver"][0]
    ignore_errors: True
    tags:
      - grid1strootsh
      - gridrootsh

  - debug: var=grid1strootsh_result.stdout_lines
    when: inventory_hostname == groups["dbserver"][0]
    failed_when: grid1strootsh_result.rc !=0
    tags:
      - grid1strootsh
      - gridrootsh

  - name: "grid other root.sh"
    become: yes
    shell: "{{ GRID_ORACLE_HOME }}/root.sh -silent"
    register: gridotherrootsh_result
    when: inventory_hostname != groups["dbserver"][0]
    ignore_errors: True
    tags:
      - gridotherrootsh
      - gridrootsh

  - debug: var=gridotherrootsh_result.stdout_lines
    when: inventory_hostname != groups["dbserver"][0]
    failed_when: gridotherrootsh_result.rc !=0
    tags:
      - gridotherrootsh
      - gridrootsh

