---
  - name: "get device_name"
    become: yes
    shell: "fdisk -l | grep -v /dev/sda | grep '{{ item }} GiB' | awk -F ' |:' {'print $2'}"
    with_items:
      - "{{ VOTE_SIZE }}"
      - "{{ DATA_SIZE }}"
      - "{{ FRA_SIZE }}"
    register: device_name_result
    ignore_errors: yes

  - name: "get scsi_id"
    become: yes
    shell: "/usr/lib/udev/scsi_id -g -u -d {{ item }}"
    with_items:
      - "{{ device_name_result.results.0.stdout }}"
      - "{{ device_name_result.results.1.stdout }}"
      - "{{ device_name_result.results.2.stdout }}"
    register: scsi_id_result
    ignore_errors: yes

  - name: "copy udev rules"
    become: yes
    template:
      src: "90-oracle-asmdevices.rules.j2"
      dest: "/etc/udev/rules.d/90-oracle-asmdevices.rules"
      mode: 0644
      owner: root
      group: root

  - name: /etc/scsi_id.config
    become: yes
    lineinfile:
      path: /etc/scsi_id.config
      line: "options=-g"
      create: yes
      state: present
      owner: root
      group: root
      mode: '0644'

  - name: "reload udev"
    become: yes
    shell: "udevadm control --reload-rules && udevadm trigger"


  - name: "init dev"
    become: yes
    shell: "dd if=/dev/zero of={{ item }} bs=1024k count=1000"
    with_items:
      - "{{ VOTE_DEV }}"
      - "{{ DATA_DEV }}"
      - "{{ FRA_DEV }}"
