oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v21.0.0
INVENTORY_LOCATION={{ ORAINVENTORY }} 
oracle.install.option=CRS_CONFIG
ORACLE_BASE={{ GRID_ORACLE_BASE }} 
oracle.install.asm.OSDBA=asmdba
oracle.install.asm.OSOPER=asmoper
oracle.install.asm.OSASM=asmadmin
oracle.install.crs.config.scanType=LOCAL_SCAN
oracle.install.crs.config.SCANClientDataFile=
oracle.install.crs.config.gpnp.scanName={{ SCAN_NAME }}.{{ DOMAIN_NAME }} 
oracle.install.crs.config.gpnp.scanPort=1521
oracle.install.crs.config.ClusterConfiguration=STANDALONE
oracle.install.crs.config.configureAsExtendedCluster=false
oracle.install.crs.config.clusterName={{ CLUSTER_NAME }} 
oracle.install.crs.config.gpnp.configureGNS=false
oracle.install.crs.config.autoConfigureClusterNodeVIP=false
oracle.install.crs.config.gpnp.gnsOption=
oracle.install.crs.config.gpnp.gnsClientDataFile=
oracle.install.crs.config.gpnp.gnsSubDomain=
oracle.install.crs.config.gpnp.gnsVIPAddress=
oracle.install.crs.config.sites=
oracle.install.crs.config.clusterNodes={% for host in groups['dbserver'] %}{{ hostvars[host]['NODENAME'] }}:{{ hostvars[host]['NODENAME'] }}-vip:HUB{% if not loop.last %},{% endif %}{% endfor %} 
oracle.install.crs.config.networkInterfaceList={{ VXLAN_DEV }}:{{ hostvars[inventory_hostname]["ansible_" + VXLAN_DEV ].ipv4.network }}:3,vxlan0:{{ vxlan0_NETWORK }}:1,vxlan1:{{ vxlan1_NETWORK }}:2,vxlan2:{{ vxlan2_NETWORK }}:4 
oracle.install.crs.config.storageOption=FLEX_ASM_STORAGE
oracle.install.crs.exascale.vault.name=
oracle.install.crs.config.sharedFileSystemStorage.votingDiskLocations=
oracle.install.crs.config.sharedFileSystemStorage.ocrLocations=
oracle.install.asm.ClientDataFile=
oracle.install.crs.config.useIPMI=false
oracle.install.crs.config.ipmi.bmcBinpath=
oracle.install.crs.config.ipmi.bmcUsername=
oracle.install.crs.config.ipmi.bmcPassword=
oracle.install.asm.SYSASMPassword={{ ASMSYSPASSWORD }} 
oracle.install.asm.diskGroup.name={{ VOTE_DISKGROUP_NAME }} 
oracle.install.asm.diskGroup.redundancy=EXTERNAL
oracle.install.asm.diskGroup.AUSize=4
oracle.install.asm.diskGroup.FailureGroups=
oracle.install.asm.diskGroup.disksWithFailureGroupNames={{ VOTE_DEV }}, 
oracle.install.asm.diskGroup.disks={{ VOTE_DEV }} 
oracle.install.asm.diskGroup.quorumFailureGroupNames=
oracle.install.asm.diskGroup.diskDiscoveryString={{ ASM_STRING }} 
oracle.install.asm.monitorPassword={{ ASMMONPASSWORD }} 
oracle.install.asm.configureAFD=false
oracle.install.crs.configureRHPS=false
oracle.install.crs.config.ignoreDownNodes=false
oracle.install.crs.configureGIMR=false
oracle.install.crs.configureRemoteGIMR=false
oracle.install.crs.RemoteGIMRCredFile=
oracle.install.asm.configureGIMRDataDG=false
oracle.install.asm.gimrDG.name=
oracle.install.asm.gimrDG.redundancy=
oracle.install.asm.gimrDG.AUSize=1
oracle.install.asm.gimrDG.FailureGroups=
oracle.install.asm.gimrDG.disksWithFailureGroupNames=
oracle.install.asm.gimrDG.disks=
oracle.install.asm.gimrDG.quorumFailureGroupNames=
oracle.install.config.managementOption=NONE
oracle.install.config.omsHost=
oracle.install.config.omsPort=0
oracle.install.config.emAdminUser=
oracle.install.config.emAdminPassword=
oracle.install.crs.rootconfig.executeRootScript=false
oracle.install.crs.rootconfig.configMethod=
oracle.install.crs.rootconfig.sudoPath=
oracle.install.crs.rootconfig.sudoUserName=
oracle.install.crs.config.batchinfo=
oracle.install.crs.deleteNode.nodes=

